#content {
    margin-top: 1rem;

    @media(max-width:768px) {
        margin-top: 2rem;
    }

    .dictionary-wrapper {
        .container {
            .tiles {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                margin: 0 auto;

                .tile {
                    position: relative;
                    border-radius: 8px;
                    border: 1px solid #f63d37;
                    width: 100%;
                    @media(min-width: 400px) and (max-width: 767px) {
                        width: 45%;
                    }
                    @media(min-width: 768px) and (max-width: 1399px) {
                        width: 30%;
                    }
                    @media(min-width:1400px) {
                        width: 23%;
                    }

                    .corner {
                        color: #f63d37;
                        font-size: 48px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 62px;
                        padding: 10px;

                        &::before {
                            content: "";
                            z-index: -1;
                            display: block;
                            width: 82px;
                            height: 82px;
                            background-color: #feeeed;
                            border-radius: 50%;
                            position: absolute;
                            top: -25px;
                            left: -30px;
                        }
                    }

                    .tile-list {
                        padding: 0 2rem 1rem 2rem;
                        display: flex;
                        flex-direction: column;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}