.employees-wrapper {

    h2 {
        text-align: center;
        margin-bottom: 40px;
    }

    .employees-content {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        position: relative;
        justify-content: center;



        .single-employee {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media(min-width:1200px) {
                // width: 16%;
            }

            .team-item-img {
                width: 292px;
                height: 292px;
                object-position: top;
                border-radius: 8px 8px 0 0;
            }

            .person-name-kontakt {
                font-weight: 600;
                color: #ffffff;


                @media(min-width:768px) {
                    font-size: 2rem;
                    padding: 0 1rem;
                }
            }

            .person-job-kontakt {
                @media(min-width:768px) {
                    font-size: 1rem;
                    padding: 0 1rem;
                }
            }

            &:nth-child(odd) {
                .person-name-kontakt {
                    background-color: #f53c37;
                }
            }

            &:nth-child(even) {
                .person-name-kontakt {
                    background-color: #252525;
                }
            }
        }
    }
}