section.home_banner {
    padding: 24px 0;
    border-bottom: 1px solid #949494;
    background-image: url(../img/header_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width:768px) {
        padding: 5px 0 72px 0;
        &.front-page-baner{
            padding: 72px 0 ;
        }
    }

    .hero-short-desc {
        font-size: 2rem;
        color: #F63D37;
        font-weight: 600;
        line-height: 2.2rem;
    }

}

@media (max-width:767.98px) {
    section.home_banner {
        background: linear-gradient(270.75deg, hsla(1, 100%, 91%, .49) -1.64%, hsla(0, 0%, 96%, 0) 82.2%);

        .hero-short-desc {
            font-size: 1.8rem;
            color: #F63D37;
            font-weight: 600;
        }
    }
}

section.home_banner h1 {
    position: relative
}

section.home_banner h1 .heading {
    font: 700 64px/64px Catamaran;
    margin-bottom: 12px;
    position: relative;
    z-index: 1
}

@media (max-width:1403.98px) {
    section.home_banner h1 .heading {
        font: 700 54px/54px Catamaran
    }
}

@media (max-width:991.98px) {
    section.home_banner h1 .heading {
        font: 700 38px/49px Catamaran
    }
}

section.home_banner h1 svg {
    width: 495px;
    height: auto;
    position: absolute;
    z-index: 0;
    bottom: -10px
}

@media (max-width:1403.98px) {
    section.home_banner h1 svg {
        width: 420px
    }
}

@media (max-width:991.98px) {
    section.home_banner h1 svg {
        width: 280px
    }
}

section.home_banner h1 svg path {
    stroke: #f63d37;
    stroke-width: 5;
    fill: none;
    stroke-dasharray: 0;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation: a 15s
}

section.home_banner h4 {
    font: 300 24px/36px Catamaran
}

@media (max-width:991.98px) {
    section.home_banner h4 {
        font: 300 19px/26px Catamaran
    }
}

section.home_banner .btn {
    margin-top: 48px
}

@media (max-width:767.98px) {
    section.home_banner .btn {
        margin-top: 24px
    }
}



@media (max-width:767.98px) {
    section.home_banner .btn:last-child {
        margin-left: 0
    }
}

section.home_banner img {
    // margin-right: 40px;
    // border-radius: 18px;
    // box-shadow: -12px -35px 56px #f63d3720
}

@media (max-width:767.98px) {
    section.home_banner img {
        margin-top: 48px;
        box-shadow: none
    }
}

section.home_banner .home_banner__logotyp {
    position: absolute;
    width: 116px;
    height: 224.52px;
    background: url(../img/logotyp_aw.svg);
    right: 15px;
    bottom: -10px
}

.hero-form-wrapper {
    padding: 2rem;
    border-radius: 18px;
    background: #FEFEFE;
    box-shadow: 0px 29px 110px 0px rgba(246, 61, 55, 0.19);

    .hbspt-form {
        form {
            .hs-form-field {
                position: relative;

                label {
                    position: absolute;
                    top: -10px;
                    left: 20px;
                    background-color: #FDFDFD;
                    &.hs-form-radio-display, &#label-hs_lead_status-bc235f50-5174-433a-9be9-aa2f9969ead7, &.hs-form-booleancheckbox-display{
                        position: relative;
                        top: 0;
                        left:0;
                    }
                }

                .input {
                    margin-top: 1.5rem;
                    .hs-input[type="text"],
                    .hs-input[type="email"],
                    .hs-input[type="tel"] {
                        width: 100%;
                        height: 51px;
                        border-radius: 8px;
                        border: 1px solid#F63D37;
                        background: #FDFDFD;
                        padding: 0 2rem;
                    }
                    .hs-input[type="radio"]{
                        width: 16px;
                        height: 16px;
                        accent-color:#F63D37;
                        margin-right: 8px;
                    }

                    textarea {
                        width: 100%;
                        height: 120px;
                        resize: none;
                        border-radius: 8px;
                        border: 1px solid#F63D37;
                        background: #FDFDFD;
                        padding: 1.5rem;
                    }

                    .inputs-list {
                        padding-left: 0;
                        .hs-form-radio, .hs-form-booleancheckbox {
                            list-style-type: none;
                        }
                        &.multi-container{
                            @media(min-width:1400px){
                                column-count: 2;
                            }
                            
                        }
                    }
                    
                }
                .hs-error-msgs{
                    li{
                        list-style-type: none;
                    }
                }

            }
            .hs-fieldtype-radio{
                margin-top: 1rem;
                .input{
                    margin-top: 8px;
                }
            }
            .hs-submit{
                .actions{
                    .hs-button{
                        border: 1px solid #f63d37;
                        border-radius: 6px;
                        background: #f63d37;
                        color: #ffffff;
                        padding: 12px 36px;
                        font-weight: 600;
                        &:hover{
                            background: #ffffff;
                            color: #f63d37;
                        }
                    }
                }
            }
        }


    }

}