.offer-links-wrapper{
    .container{
        .row{
            .single-job-offer{
                
                border-radius: 18px;
                background:#F9F9F9;
                box-shadow: 0px 29px 110px 0px rgba(246, 61, 55, 0.19);
                a{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 2rem  ;
                    .job-offer-name{
                        font-size: 2rem;
                        font-weight: 600;
                    }
                    .job-offer-city{
                        font-size: 1.5rem;
                    }
                }
                
            }
        }
    }
}