.text-columns-wrapper{
    .text-columns-heading{
        text-align: left;
        
    }
    .ct-heading{
        font-size: 1.5rem;
        color:#F63D37;
        font-weight: 600;
        line-height: 1.8rem;
    }
    .additional-col-desc{
        margin-top:1rem;
    }

}