.text-desc{
    ul{
        
        li{
            margin-bottom: 2rem;
        }
    }
    
}

@media(min-width:768px){
    .text-desc{
        ul{
            margin-left: 1.75rem;
        }
    }
    .wysiwyg-columns{
        columns: 2;
    }
}