<section class="cm-wrapper">
	<div class="container">
		<div class="row">
			{% if section.cm_heading %}
				<h2 class="cm-heading">{{ section.cm_heading }}</h2>

			{% endif %}
			{% for check_mark in section.check_marks %}

				<div class="cm-text"><span></span><p>{{ check_mark.cm_text }}</p></div>

			{% endfor %}
		</div>
	</div>
</section>
