<section class="text-desc">
    <div class="container">
        <div class="row">
            {% if section.heading_wysiwyg %}<h2>{{section.heading_wysiwyg}}</h2>{% endif %}
            <div class="wysiwyg-wrapper {% if section.wysiwyg_columns %}wysiwyg-columns{% endif %} ">{{section.tekst_wysiwyg}}</div>
            
        </div>
    </div>
</section>

